<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Dear <%= @user %></h1>
    <p>
      You have successfully reserved this listing. <%= @reservation.listing.title %> from <%= @reservation.start_date %> to <%= @reservation.end_date %> 
    </p>
  </body>
</html>